@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Fira Sans", serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    /* max-width: 1060px;
    margin: 0 auto; */
    
}
.nav-bar-contant{
    font-size: 42px;
    font-weight: 700;

}
.navbar-button{
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 10px;
    border-color: rgb(0, 106, 80);
    color: rgb(0, 106, 80);
    
}
.navbar-button:hover{
    background-color: yellowgreen;
    color: blue;
}
.button-div{
    align-items: center;
    display: flex;

}
.banner{
    display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(198, 228, 214);
   max-width: 1060px;
   margin: 0 auto;
   padding: 80px 100px;
   border-radius: 15px;
    
}

.banner-title{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}
.banner-title-2{
    font-size: 50px;
    font-weight: 700px;
}

    
    
    
.banner-button{

    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(0, 106, 80);
    padding: 17px 34px;
    border-radius: 8px;
    border-style: none;
}
.banner-button:hover{
    background-color: aquamarine;
    color: black;
}
main{
   padding: 10px;
}
.future-title{
    font-size: 40px;
    font-weight: 700;
}
.Future-discription{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.items{
    display: flex;
    gap: 24px;
    margin-top: 50px;
  
}

.card-1{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 24px;
    border-radius: 10px;
    background-color: rgba(84, 144, 245, 0.2);
}
.card-2{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 24px;
    border-radius: 10px;
    background-color: rgb(198, 228, 214);
}
.card-3{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 24px;
    border-radius: 10px;
    background-color: rgb(247, 235, 207);
}
.card-title{
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);

}
.card-discription{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);

}
.card-button-1{
    background-color: rgb(84, 144, 245);
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 11px 20px;
    border-style: none;
    border-radius: 16px;
}
.card-button-1:hover{
    background-color: brown;
    color: black;
}
.card-button-2{
    background-color: rgb(9, 161, 92);
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 11px 20px;
    border-style: none;
    border-radius: 16px;
}
.card-button-2:hover{
    background-color: blueviolet;
    color: yellow;
}
.card-button-3{
    background-color: rgb(255, 194, 57);
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 11px 20px;
    border-style: none;
    border-radius: 16px;
}
.card-button-3:hover{
    background-color: black;
}

.main-section{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
.main-img img{
    border-radius: 24px;
}
.main-title{
    font-size: 28px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);


}

.section-3{
    padding: 0 50px;
    


}
.main-section-2{
    padding: 0 50px;
}
.main-date{

    font-size: 14px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.main-discription{

    font-size: 14px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);

}
.main-button{
    background-color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    padding: 9px 18px;
    color: rgb(255, 255, 255);
    border: none;
   
}
.main-button:hover{
    background-color: aqua;
    color: red;

}
.main-section-2{
    
    margin-top: 50px;
    display: flex;
    gap: 30px;
}


.last-title{
    font-size: 40px;
    font-weight: 700;
    text-align: center;

}

.last-duscription{
    font-size: 14px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
}
.taka-card{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 30px;
}
.taka-1{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 20px;
    padding: 15px 25px;
}
.taka-1:hover{
    background-color: blue;
}
.taka-2{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 15px 25px;
    border-radius: 16px;
    background-color: rgb(198, 228, 214);
}
.taka-2:hover{
    background-color: burlywood;
}
.taka-3{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 15px 25px;
    border-radius: 16px;
}
.taka-3:hover{
    background-color: chartreuse;
}
.taka-4{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 15px 25px;
    border-radius: 16px;
}
.taka-4:hover{
    background-color: cyan;
}
.center{
    text-align: center;
    margin-top: 30px;
    color: rgba(14, 14, 14, 0.3);
    
   
    
   
}
.center input{
    padding: 40px 450px;
    font-size: 20px;
    font-weight: 400;
  
}
.center input:hover{
    background-color: yellowgreen;
    color: red;
  
}